

body {
  background-color: white;
}

body, p, a {
  font-family: 'Helvetica', sans-serif;
  font-size: 1rem;
}


#bckgr{
  width: 100%;
  height: auto;
  padding: 2rem 0;
}

#main {
  position: relative;
  padding: 2rem;
  width: 50%;
  margin: 1rem auto;
}

#main h1 {
  font-family: 'Helvetica';
  position: absolute;
  font-size: 2rem;
  background-color: white;
  color: black;
  text-align: center;
  border: solid #ddd 0.1rem;
  border-radius: 0.2rem;
  top: 4%;
  left: 15%;
  padding: 1rem;
}

#main form {
  background: #f5f5f5;
  border: solid #ddd 0.1rem;
  border-radius: 0.2rem;
  margin: 3rem auto;
  padding: 2rem;
}


#main form label, input[type=text], textarea {
  width: 100%;
  margin: 0.5rem auto;
  padding: 0.5rem 0;
  color: black;
}

#main form input[type=text], textarea {
  border: solid #ddd 0.1rem;
  border-radius: 0.2rem;
}

#main form input[type=submit] {
  min-width: 100%;
  margin-top: 1rem;
  padding: 0.5rem 0;
  cursor: pointer;
  background-color: #6495ED;
  color: white;
  border: none;
  border-radius: 0.2rem;
  width: 100%;
}

#main .output {
  text-overflow: clip;
  color: #f5f5f5;
}



@media only screen and (max-width: 35rem) {
    body {
      line-height: 1.5rem;
    }
  
    #main form {
      padding-top: 4rem;
    }
    #main h1 {
        font-size: 1rem;

  } 
}
  
@media only screen and (min-width: 35rem) and (max-width: 60rem) {
    .form {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
    }
    .fullwidth {
        grid-column: span 2;
    }

    #main h1 {
        font-size: 1.5rem;

  } 
  
    #submit-button {
        grid-column: 1;
        background-color: #6495ED;
        padding: 10px;
    }
    #main form {
        padding-top: 4rem;
      }    
  
    }

  @media only screen and (min-width: 60rem) {
      .form {
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-gap: 20px;
      }
      .fullwidth {
          grid-column: span 2;
      }
    
      #submit-button {
          grid-column: 1;
          background-color: #6495ED;
          padding: 10px;
      }
      #main form {
          padding-top: 4rem;
        }    
      
  }
